* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
}

.video-section {
  position: relative;
  height: 190vh;
}

.video-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 2;
  color: white;
  background: transparent;
}

header h1 {
  margin: 0;
  padding-right: 10%;
  font-size: 3rem;
  font-weight: 300;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: -5%;
}

nav a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

nav a:hover {
  color: #a7a7a7;
}

.btn-signing {
  background-color: #a7a7a7;
  color: #000;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin-left: 61px;
}

.btn-signing:hover {
  background-color: white;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.video-text h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.video-text p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #ddd;
}

.content {
  background: #fff;
  color: #111;
  padding: 100px 20px;
  text-align: center;
}

/* === Carousel Styles === */
.carousel {
  margin: 100px auto;
  width: 90%;
  display: flex;
  overflow-x: auto;
  position: relative;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 25s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}


@keyframes spin {
  from { translate: 0; }
  to { translate: -100%; }
}
